<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.v2b.phonegap"
    version   = "1.0.0">

<name>v2b Phonegap</name>

<description>
Esta es una aplicación de prueba Phonegap v2b
</description>

<author href="https://example.com" email="you@example.com">
Ivan Garcia
</author>

<icon src="icono.png" gap:role="default" />

<feature name="http://api.phonegap.com/1.0/geolocation" />

<preference name="orientation" value="landscape" />

<gap:platform>
	<gap:platform name="android" minVersion="2.2" />
</gap:platform>
</widget>
